<ul class="pagination">
	{% if pagination.href.previous %}
		<li>
			<a href="{{ pagination.href.previous }}" class="direction">⭠</a>
		</li>
	{% endif %}
	{%- for pageEntry in pagination.pages %}
		<li>
			<a 
				href="{{ pagination.hrefs[ loop.index0 ] }}"
				{% if page.url == pagination.hrefs[ loop.index0 ] %} 
					aria-current="page"
					class="current"
				{% endif %}
			>
				{{ loop.index }}
			</a>
		</li>
	{%- endfor %}
	{% if pagination.href.next %}
		<li>
			<a href="{{ pagination.href.next }}" class="direction">⭢</a>
		</li>
	{% endif %}
</ul>