<form id="search" class="search" action="/search" method="get">
  <label class="sr-only" for="search-input">Search for Recipes</label>
	<input type="search" name="search" id="search-input" placeholder="Search" />
  <button class="sr-only" type="submit">Submit Search</button>
</form>
