---
permalink: /tests/pa11y/undefined/index.html
leventyExcludeFromCollections: true
---
        {% set pagetitle = "Homepage - desktop | Accessibility Report" %}
        {% set language = "en-AU" %}
        {% extends 'layouts/main.njk' %}
        {% block content %}
        <article class="report">
		<header>
		<h1>Accessibility Report for: Recipes</h1>
		<p>Generated at 02/01/2022, 4:17:26 pm</p>
		<p>Page URL: <a href="http://localhost:8080/" target="_blank">http://localhost:8080/</a></p>
		</header>
		<dl>
			<dt class="error">Errors</dt>
			<dd class="error">51</dd>
			<dt class="warning">Warnings</dt>
			<dd class="warning">0</dd>
			<dt class="notice">Notices</dt>
			<dd class="notice">0</dd>
		</dl>
		<h2>Issues</h2>
		<ul class="results">
			<li class="error">
					<h3><span class="type">error</span>: This element has insufficient contrast at this conformance level. Expected a contrast ratio of at least 4.5:1, but text in this element has a contrast ratio of 2.39:1. Recommendation:  change text colour to #bd5b00.</h3>
					<p class="code">WCAG2AA Principle1 Guideline1.4 1.4.3 G18 Fail</p>
					<pre class="context">&lt;a href="/recipes/amys-salad/">Amy's Salad&lt;/a></pre>
					<p class="selector">html > body > main > ul:nth-child(3) > li:nth-child(1) > article > h2 > a</p>
				</li>,<li class="error">
					<h3><span class="type">error</span>: This element has insufficient contrast at this conformance level. Expected a contrast ratio of at least 4.5:1, but text in this element has a contrast ratio of 3.94:1. Recommendation:  change text colour to #565656.</h3>
					<p class="code">WCAG2AA Principle1 Guideline1.4 1.4.3 G18 Fail</p>
					<pre class="context">&lt;li>Vegetarian&lt;/li></pre>
					<p class="selector">html > body > main > ul:nth-child(3) > li:nth-child(1) > article > ul > li</p>
				</li>,<li class="error">
					<h3><span class="type">error</span>: This element has insufficient contrast at this conformance level. Expected a contrast ratio of at least 4.5:1, but text in this element has a contrast ratio of 2.39:1. Recommendation:  change text colour to #bd5b00.</h3>
					<p class="code">WCAG2AA Principle1 Guideline1.4 1.4.3 G18 Fail</p>
					<pre class="context">&lt;a href="/recipes/chocolate-chip-cookies/">Chocolate Chip Cookies&lt;/a></pre>
					<p class="selector">html > body > main > ul:nth-child(3) > li:nth-child(2) > article > h2 > a</p>
				</li>,<li class="error">
					<h3><span class="type">error</span>: Img element missing an alt attribute. Use the alt attribute to specify a short text alternative.</h3>
					<p class="code">WCAG2AA Principle1 Guideline1.1 1.1.1 H37</p>
					<pre class="context">&lt;img src="/img/placeholder.png"></pre>
					<p class="selector">html > body > main > ul:nth-child(3) > li:nth-child(2) > article > img</p>
				</li>,<li class="error">
					<h3><span class="type">error</span>: This element has insufficient contrast at this conformance level. Expected a contrast ratio of at least 4.5:1, but text in this element has a contrast ratio of 3.94:1. Recommendation:  change text colour to #565656.</h3>
					<p class="code">WCAG2AA Principle1 Guideline1.4 1.4.3 G18 Fail</p>
					<pre class="context">&lt;li>Dessert&lt;/li></pre>
					<p class="selector">html > body > main > ul:nth-child(3) > li:nth-child(2) > article > ul > li:nth-child(1)</p>
				</li>,<li class="error">
					<h3><span class="type">error</span>: This element has insufficient contrast at this conformance level. Expected a contrast ratio of at least 4.5:1, but text in this element has a contrast ratio of 3.94:1. Recommendation:  change text colour to #565656.</h3>
					<p class="code">WCAG2AA Principle1 Guideline1.4 1.4.3 G18 Fail</p>
					<pre class="context">&lt;li>Snack&lt;/li></pre>
					<p class="selector">html > body > main > ul:nth-child(3) > li:nth-child(2) > article > ul > li:nth-child(2)</p>
				</li>,<li class="error">
					<h3><span class="type">error</span>: This element has insufficient contrast at this conformance level. Expected a contrast ratio of at least 4.5:1, but text in this element has a contrast ratio of 3.94:1. Recommendation:  change text colour to #565656.</h3>
					<p class="code">WCAG2AA Principle1 Guideline1.4 1.4.3 G18 Fail</p>
					<pre class="context">&lt;li>Sweet&lt;/li></pre>
					<p class="selector">html > body > main > ul:nth-child(3) > li:nth-child(2) > article > ul > li:nth-child(3)</p>
				</li>,<li class="error">
					<h3><span class="type">error</span>: This element has insufficient contrast at this conformance level. Expected a contrast ratio of at least 4.5:1, but text in this element has a contrast ratio of 2.39:1. Recommendation:  change text colour to #bd5b00.</h3>
					<p class="code">WCAG2AA Principle1 Guideline1.4 1.4.3 G18 Fail</p>
					<pre class="context">&lt;a href="/recipes/chorizo-cauliflower-and-potato-hash-with-chimichurri-sauce/">Chorizo, Cauliflower and Potato...&lt;/a></pre>
					<p class="selector">html > body > main > ul:nth-child(3) > li:nth-child(3) > article > h2 > a</p>
				</li>,<li class="error">
					<h3><span class="type">error</span>: This element has insufficient contrast at this conformance level. Expected a contrast ratio of at least 4.5:1, but text in this element has a contrast ratio of 3.94:1. Recommendation:  change text colour to #565656.</h3>
					<p class="code">WCAG2AA Principle1 Guideline1.4 1.4.3 G18 Fail</p>
					<pre class="context">&lt;li>Pork&lt;/li></pre>
					<p class="selector">html > body > main > ul:nth-child(3) > li:nth-child(3) > article > ul > li:nth-child(1)</p>
				</li>,<li class="error">
					<h3><span class="type">error</span>: This element has insufficient contrast at this conformance level. Expected a contrast ratio of at least 4.5:1, but text in this element has a contrast ratio of 3.94:1. Recommendation:  change text colour to #565656.</h3>
					<p class="code">WCAG2AA Principle1 Guideline1.4 1.4.3 G18 Fail</p>
					<pre class="context">&lt;li>Main&lt;/li></pre>
					<p class="selector">html > body > main > ul:nth-child(3) > li:nth-child(3) > article > ul > li:nth-child(2)</p>
				</li>,<li class="error">
					<h3><span class="type">error</span>: This element has insufficient contrast at this conformance level. Expected a contrast ratio of at least 4.5:1, but text in this element has a contrast ratio of 2.39:1. Recommendation:  change text colour to #bd5b00.</h3>
					<p class="code">WCAG2AA Principle1 Guideline1.4 1.4.3 G18 Fail</p>
					<pre class="context">&lt;a href="/recipes/coconut-cupcakes/">Coconut Cupcakes&lt;/a></pre>
					<p class="selector">html > body > main > ul:nth-child(3) > li:nth-child(4) > article > h2 > a</p>
				</li>,<li class="error">
					<h3><span class="type">error</span>: Img element missing an alt attribute. Use the alt attribute to specify a short text alternative.</h3>
					<p class="code">WCAG2AA Principle1 Guideline1.1 1.1.1 H37</p>
					<pre class="context">&lt;img src="/img/placeholder.png"></pre>
					<p class="selector">html > body > main > ul:nth-child(3) > li:nth-child(4) > article > img</p>
				</li>,<li class="error">
					<h3><span class="type">error</span>: This element has insufficient contrast at this conformance level. Expected a contrast ratio of at least 4.5:1, but text in this element has a contrast ratio of 3.94:1. Recommendation:  change text colour to #565656.</h3>
					<p class="code">WCAG2AA Principle1 Guideline1.4 1.4.3 G18 Fail</p>
					<pre class="context">&lt;li>Dessert&lt;/li></pre>
					<p class="selector">html > body > main > ul:nth-child(3) > li:nth-child(4) > article > ul > li:nth-child(1)</p>
				</li>,<li class="error">
					<h3><span class="type">error</span>: This element has insufficient contrast at this conformance level. Expected a contrast ratio of at least 4.5:1, but text in this element has a contrast ratio of 3.94:1. Recommendation:  change text colour to #565656.</h3>
					<p class="code">WCAG2AA Principle1 Guideline1.4 1.4.3 G18 Fail</p>
					<pre class="context">&lt;li>Cupcakes&lt;/li></pre>
					<p class="selector">html > body > main > ul:nth-child(3) > li:nth-child(4) > article > ul > li:nth-child(2)</p>
				</li>,<li class="error">
					<h3><span class="type">error</span>: This element has insufficient contrast at this conformance level. Expected a contrast ratio of at least 4.5:1, but text in this element has a contrast ratio of 3.94:1. Recommendation:  change text colour to #565656.</h3>
					<p class="code">WCAG2AA Principle1 Guideline1.4 1.4.3 G18 Fail</p>
					<pre class="context">&lt;li>Vegan&lt;/li></pre>
					<p class="selector">html > body > main > ul:nth-child(3) > li:nth-child(4) > article > ul > li:nth-child(3)</p>
				</li>,<li class="error">
					<h3><span class="type">error</span>: This element has insufficient contrast at this conformance level. Expected a contrast ratio of at least 4.5:1, but text in this element has a contrast ratio of 2.39:1. Recommendation:  change text colour to #bd5b00.</h3>
					<p class="code">WCAG2AA Principle1 Guideline1.4 1.4.3 G18 Fail</p>
					<pre class="context">&lt;a href="/recipes/cottage-cheese-pancakes/">Cottage Cheese Pancakes&lt;/a></pre>
					<p class="selector">html > body > main > ul:nth-child(3) > li:nth-child(5) > article > h2 > a</p>
				</li>,<li class="error">
					<h3><span class="type">error</span>: This element has insufficient contrast at this conformance level. Expected a contrast ratio of at least 4.5:1, but text in this element has a contrast ratio of 3.94:1. Recommendation:  change text colour to #565656.</h3>
					<p class="code">WCAG2AA Principle1 Guideline1.4 1.4.3 G18 Fail</p>
					<pre class="context">&lt;li>Sweet&lt;/li></pre>
					<p class="selector">html > body > main > ul:nth-child(3) > li:nth-child(5) > article > ul > li:nth-child(1)</p>
				</li>,<li class="error">
					<h3><span class="type">error</span>: This element has insufficient contrast at this conformance level. Expected a contrast ratio of at least 4.5:1, but text in this element has a contrast ratio of 3.94:1. Recommendation:  change text colour to #565656.</h3>
					<p class="code">WCAG2AA Principle1 Guideline1.4 1.4.3 G18 Fail</p>
					<pre class="context">&lt;li>Snack&lt;/li></pre>
					<p class="selector">html > body > main > ul:nth-child(3) > li:nth-child(5) > article > ul > li:nth-child(2)</p>
				</li>,<li class="error">
					<h3><span class="type">error</span>: This element has insufficient contrast at this conformance level. Expected a contrast ratio of at least 4.5:1, but text in this element has a contrast ratio of 3.94:1. Recommendation:  change text colour to #565656.</h3>
					<p class="code">WCAG2AA Principle1 Guideline1.4 1.4.3 G18 Fail</p>
					<pre class="context">&lt;li>Dessert&lt;/li></pre>
					<p class="selector">html > body > main > ul:nth-child(3) > li:nth-child(5) > article > ul > li:nth-child(3)</p>
				</li>,<li class="error">
					<h3><span class="type">error</span>: This element has insufficient contrast at this conformance level. Expected a contrast ratio of at least 4.5:1, but text in this element has a contrast ratio of 3.94:1. Recommendation:  change text colour to #565656.</h3>
					<p class="code">WCAG2AA Principle1 Guideline1.4 1.4.3 G18 Fail</p>
					<pre class="context">&lt;li>Breakfast&lt;/li></pre>
					<p class="selector">html > body > main > ul:nth-child(3) > li:nth-child(5) > article > ul > li:nth-child(4)</p>
				</li>,<li class="error">
					<h3><span class="type">error</span>: This element has insufficient contrast at this conformance level. Expected a contrast ratio of at least 4.5:1, but text in this element has a contrast ratio of 2.39:1. Recommendation:  change text colour to #bd5b00.</h3>
					<p class="code">WCAG2AA Principle1 Guideline1.4 1.4.3 G18 Fail</p>
					<pre class="context">&lt;a href="/recipes/crispy-pancetta-and-brussel-sprout-pasta-with-feta/">Crispy Pancetta and Brussel spr...&lt;/a></pre>
					<p class="selector">html > body > main > ul:nth-child(3) > li:nth-child(6) > article > h2 > a</p>
				</li>,<li class="error">
					<h3><span class="type">error</span>: Img element missing an alt attribute. Use the alt attribute to specify a short text alternative.</h3>
					<p class="code">WCAG2AA Principle1 Guideline1.1 1.1.1 H37</p>
					<pre class="context">&lt;img src="/img/placeholder.png"></pre>
					<p class="selector">html > body > main > ul:nth-child(3) > li:nth-child(6) > article > img</p>
				</li>,<li class="error">
					<h3><span class="type">error</span>: This element has insufficient contrast at this conformance level. Expected a contrast ratio of at least 4.5:1, but text in this element has a contrast ratio of 3.94:1. Recommendation:  change text colour to #565656.</h3>
					<p class="code">WCAG2AA Principle1 Guideline1.4 1.4.3 G18 Fail</p>
					<pre class="context">&lt;li>Pork&lt;/li></pre>
					<p class="selector">html > body > main > ul:nth-child(3) > li:nth-child(6) > article > ul > li:nth-child(1)</p>
				</li>,<li class="error">
					<h3><span class="type">error</span>: This element has insufficient contrast at this conformance level. Expected a contrast ratio of at least 4.5:1, but text in this element has a contrast ratio of 3.94:1. Recommendation:  change text colour to #565656.</h3>
					<p class="code">WCAG2AA Principle1 Guideline1.4 1.4.3 G18 Fail</p>
					<pre class="context">&lt;li>Main&lt;/li></pre>
					<p class="selector">html > body > main > ul:nth-child(3) > li:nth-child(6) > article > ul > li:nth-child(2)</p>
				</li>,<li class="error">
					<h3><span class="type">error</span>: This element has insufficient contrast at this conformance level. Expected a contrast ratio of at least 4.5:1, but text in this element has a contrast ratio of 2.39:1. Recommendation:  change text colour to #bd5b00.</h3>
					<p class="code">WCAG2AA Principle1 Guideline1.4 1.4.3 G18 Fail</p>
					<pre class="context">&lt;a href="/recipes/easy-rum-balls/">Easy Rum Balls&lt;/a></pre>
					<p class="selector">html > body > main > ul:nth-child(3) > li:nth-child(7) > article > h2 > a</p>
				</li>,<li class="error">
					<h3><span class="type">error</span>: This element has insufficient contrast at this conformance level. Expected a contrast ratio of at least 4.5:1, but text in this element has a contrast ratio of 3.94:1. Recommendation:  change text colour to #565656.</h3>
					<p class="code">WCAG2AA Principle1 Guideline1.4 1.4.3 G18 Fail</p>
					<pre class="context">&lt;li>Christmas&lt;/li></pre>
					<p class="selector">html > body > main > ul:nth-child(3) > li:nth-child(7) > article > ul > li</p>
				</li>,<li class="error">
					<h3><span class="type">error</span>: This element has insufficient contrast at this conformance level. Expected a contrast ratio of at least 4.5:1, but text in this element has a contrast ratio of 2.39:1. Recommendation:  change text colour to #bd5b00.</h3>
					<p class="code">WCAG2AA Principle1 Guideline1.4 1.4.3 G18 Fail</p>
					<pre class="context">&lt;a href="/recipes/fudge/">Fudge&lt;/a></pre>
					<p class="selector">html > body > main > ul:nth-child(3) > li:nth-child(8) > article > h2 > a</p>
				</li>,<li class="error">
					<h3><span class="type">error</span>: This element has insufficient contrast at this conformance level. Expected a contrast ratio of at least 4.5:1, but text in this element has a contrast ratio of 3.94:1. Recommendation:  change text colour to #565656.</h3>
					<p class="code">WCAG2AA Principle1 Guideline1.4 1.4.3 G18 Fail</p>
					<pre class="context">&lt;li>Christmas&lt;/li></pre>
					<p class="selector">html > body > main > ul:nth-child(3) > li:nth-child(8) > article > ul > li:nth-child(1)</p>
				</li>,<li class="error">
					<h3><span class="type">error</span>: This element has insufficient contrast at this conformance level. Expected a contrast ratio of at least 4.5:1, but text in this element has a contrast ratio of 3.94:1. Recommendation:  change text colour to #565656.</h3>
					<p class="code">WCAG2AA Principle1 Guideline1.4 1.4.3 G18 Fail</p>
					<pre class="context">&lt;li>Dessert&lt;/li></pre>
					<p class="selector">html > body > main > ul:nth-child(3) > li:nth-child(8) > article > ul > li:nth-child(2)</p>
				</li>,<li class="error">
					<h3><span class="type">error</span>: This element has insufficient contrast at this conformance level. Expected a contrast ratio of at least 4.5:1, but text in this element has a contrast ratio of 2.39:1. Recommendation:  change text colour to #bd5b00.</h3>
					<p class="code">WCAG2AA Principle1 Guideline1.4 1.4.3 G18 Fail</p>
					<pre class="context">&lt;a href="/recipes/gingerbread-men/">Gingerbread Men&lt;/a></pre>
					<p class="selector">html > body > main > ul:nth-child(3) > li:nth-child(9) > article > h2 > a</p>
				</li>,<li class="error">
					<h3><span class="type">error</span>: This element has insufficient contrast at this conformance level. Expected a contrast ratio of at least 4.5:1, but text in this element has a contrast ratio of 3.94:1. Recommendation:  change text colour to #565656.</h3>
					<p class="code">WCAG2AA Principle1 Guideline1.4 1.4.3 G18 Fail</p>
					<pre class="context">&lt;li>Christmas&lt;/li></pre>
					<p class="selector">html > body > main > ul:nth-child(3) > li:nth-child(9) > article > ul > li:nth-child(1)</p>
				</li>,<li class="error">
					<h3><span class="type">error</span>: This element has insufficient contrast at this conformance level. Expected a contrast ratio of at least 4.5:1, but text in this element has a contrast ratio of 3.94:1. Recommendation:  change text colour to #565656.</h3>
					<p class="code">WCAG2AA Principle1 Guideline1.4 1.4.3 G18 Fail</p>
					<pre class="context">&lt;li>Dessert&lt;/li></pre>
					<p class="selector">html > body > main > ul:nth-child(3) > li:nth-child(9) > article > ul > li:nth-child(2)</p>
				</li>,<li class="error">
					<h3><span class="type">error</span>: This element has insufficient contrast at this conformance level. Expected a contrast ratio of at least 4.5:1, but text in this element has a contrast ratio of 2.39:1. Recommendation:  change text colour to #bd5b00.</h3>
					<p class="code">WCAG2AA Principle1 Guideline1.4 1.4.3 G18 Fail</p>
					<pre class="context">&lt;a href="/recipes/happy-hummus-bowl/">Happy Hummus Bowl&lt;/a></pre>
					<p class="selector">html > body > main > ul:nth-child(3) > li:nth-child(10) > article > h2 > a</p>
				</li>,<li class="error">
					<h3><span class="type">error</span>: This element has insufficient contrast at this conformance level. Expected a contrast ratio of at least 4.5:1, but text in this element has a contrast ratio of 3.94:1. Recommendation:  change text colour to #565656.</h3>
					<p class="code">WCAG2AA Principle1 Guideline1.4 1.4.3 G18 Fail</p>
					<pre class="context">&lt;li>Main&lt;/li></pre>
					<p class="selector">html > body > main > ul:nth-child(3) > li:nth-child(10) > article > ul > li:nth-child(1)</p>
				</li>,<li class="error">
					<h3><span class="type">error</span>: This element has insufficient contrast at this conformance level. Expected a contrast ratio of at least 4.5:1, but text in this element has a contrast ratio of 3.94:1. Recommendation:  change text colour to #565656.</h3>
					<p class="code">WCAG2AA Principle1 Guideline1.4 1.4.3 G18 Fail</p>
					<pre class="context">&lt;li>Vegan&lt;/li></pre>
					<p class="selector">html > body > main > ul:nth-child(3) > li:nth-child(10) > article > ul > li:nth-child(2)</p>
				</li>,<li class="error">
					<h3><span class="type">error</span>: This element has insufficient contrast at this conformance level. Expected a contrast ratio of at least 4.5:1, but text in this element has a contrast ratio of 2.39:1. Recommendation:  change text colour to #bd5b00.</h3>
					<p class="code">WCAG2AA Principle1 Guideline1.4 1.4.3 G18 Fail</p>
					<pre class="context">&lt;a href="/recipes/jacket-potatoes/">Jacket Potatoes&lt;/a></pre>
					<p class="selector">html > body > main > ul:nth-child(3) > li:nth-child(11) > article > h2 > a</p>
				</li>,<li class="error">
					<h3><span class="type">error</span>: This element has insufficient contrast at this conformance level. Expected a contrast ratio of at least 4.5:1, but text in this element has a contrast ratio of 3.94:1. Recommendation:  change text colour to #565656.</h3>
					<p class="code">WCAG2AA Principle1 Guideline1.4 1.4.3 G18 Fail</p>
					<pre class="context">&lt;li>Vegetarian&lt;/li></pre>
					<p class="selector">html > body > main > ul:nth-child(3) > li:nth-child(11) > article > ul > li:nth-child(1)</p>
				</li>,<li class="error">
					<h3><span class="type">error</span>: This element has insufficient contrast at this conformance level. Expected a contrast ratio of at least 4.5:1, but text in this element has a contrast ratio of 3.94:1. Recommendation:  change text colour to #565656.</h3>
					<p class="code">WCAG2AA Principle1 Guideline1.4 1.4.3 G18 Fail</p>
					<pre class="context">&lt;li>Pork&lt;/li></pre>
					<p class="selector">html > body > main > ul:nth-child(3) > li:nth-child(11) > article > ul > li:nth-child(2)</p>
				</li>,<li class="error">
					<h3><span class="type">error</span>: This element has insufficient contrast at this conformance level. Expected a contrast ratio of at least 4.5:1, but text in this element has a contrast ratio of 2.39:1. Recommendation:  change text colour to #bd5b00.</h3>
					<p class="code">WCAG2AA Principle1 Guideline1.4 1.4.3 G18 Fail</p>
					<pre class="context">&lt;a href="/recipes/korean-lamb-rice-bowl-with-avocado-and-lime-mayo/">Korean Lamb Rice Bowl with Avoc...&lt;/a></pre>
					<p class="selector">html > body > main > ul:nth-child(3) > li:nth-child(12) > article > h2 > a</p>
				</li>,<li class="error">
					<h3><span class="type">error</span>: This element has insufficient contrast at this conformance level. Expected a contrast ratio of at least 4.5:1, but text in this element has a contrast ratio of 3.94:1. Recommendation:  change text colour to #565656.</h3>
					<p class="code">WCAG2AA Principle1 Guideline1.4 1.4.3 G18 Fail</p>
					<pre class="context">&lt;li>Lamb&lt;/li></pre>
					<p class="selector">html > body > main > ul:nth-child(3) > li:nth-child(12) > article > ul > li:nth-child(1)</p>
				</li>,<li class="error">
					<h3><span class="type">error</span>: This element has insufficient contrast at this conformance level. Expected a contrast ratio of at least 4.5:1, but text in this element has a contrast ratio of 3.94:1. Recommendation:  change text colour to #565656.</h3>
					<p class="code">WCAG2AA Principle1 Guideline1.4 1.4.3 G18 Fail</p>
					<pre class="context">&lt;li>Main&lt;/li></pre>
					<p class="selector">html > body > main > ul:nth-child(3) > li:nth-child(12) > article > ul > li:nth-child(2)</p>
				</li>,<li class="error">
					<h3><span class="type">error</span>: This element has insufficient contrast at this conformance level. Expected a contrast ratio of at least 4.5:1, but text in this element has a contrast ratio of 2.39:1. Recommendation:  change text colour to #bd5b00.</h3>
					<p class="code">WCAG2AA Principle1 Guideline1.4 1.4.3 G18 Fail</p>
					<pre class="context">&lt;a href="/recipes/lady-flos-pumpkin-scones/">Lady Flo's Pumpkin Scones&lt;/a></pre>
					<p class="selector">html > body > main > ul:nth-child(3) > li:nth-child(13) > article > h2 > a</p>
				</li>,<li class="error">
					<h3><span class="type">error</span>: This element has insufficient contrast at this conformance level. Expected a contrast ratio of at least 4.5:1, but text in this element has a contrast ratio of 3.94:1. Recommendation:  change text colour to #565656.</h3>
					<p class="code">WCAG2AA Principle1 Guideline1.4 1.4.3 G18 Fail</p>
					<pre class="context">&lt;li>Dessert&lt;/li></pre>
					<p class="selector">html > body > main > ul:nth-child(3) > li:nth-child(13) > article > ul > li</p>
				</li>,<li class="error">
					<h3><span class="type">error</span>: This element has insufficient contrast at this conformance level. Expected a contrast ratio of at least 4.5:1, but text in this element has a contrast ratio of 2.39:1. Recommendation:  change text colour to #bd5b00.</h3>
					<p class="code">WCAG2AA Principle1 Guideline1.4 1.4.3 G18 Fail</p>
					<pre class="context">&lt;a href="/recipes/lemon-drizzle-cake/">Lemon Drizzle Cake&lt;/a></pre>
					<p class="selector">html > body > main > ul:nth-child(3) > li:nth-child(14) > article > h2 > a</p>
				</li>,<li class="error">
					<h3><span class="type">error</span>: Img element missing an alt attribute. Use the alt attribute to specify a short text alternative.</h3>
					<p class="code">WCAG2AA Principle1 Guideline1.1 1.1.1 H37</p>
					<pre class="context">&lt;img src="/img/placeholder.png"></pre>
					<p class="selector">html > body > main > ul:nth-child(3) > li:nth-child(14) > article > img</p>
				</li>,<li class="error">
					<h3><span class="type">error</span>: This element has insufficient contrast at this conformance level. Expected a contrast ratio of at least 4.5:1, but text in this element has a contrast ratio of 3.94:1. Recommendation:  change text colour to #565656.</h3>
					<p class="code">WCAG2AA Principle1 Guideline1.4 1.4.3 G18 Fail</p>
					<pre class="context">&lt;li>Dessert&lt;/li></pre>
					<p class="selector">html > body > main > ul:nth-child(3) > li:nth-child(14) > article > ul > li</p>
				</li>,<li class="error">
					<h3><span class="type">error</span>: This element has insufficient contrast at this conformance level. Expected a contrast ratio of at least 4.5:1, but text in this element has a contrast ratio of 2.39:1. Recommendation:  change text colour to #bd5b00.</h3>
					<p class="code">WCAG2AA Principle1 Guideline1.4 1.4.3 G18 Fail</p>
					<pre class="context">&lt;a href="/recipes/mediterranean-lamb-bowl-with-tumeric-tomato-bulgur/">Mediterranean Lamb bowl with tu...&lt;/a></pre>
					<p class="selector">html > body > main > ul:nth-child(3) > li:nth-child(15) > article > h2 > a</p>
				</li>,<li class="error">
					<h3><span class="type">error</span>: Img element missing an alt attribute. Use the alt attribute to specify a short text alternative.</h3>
					<p class="code">WCAG2AA Principle1 Guideline1.1 1.1.1 H37</p>
					<pre class="context">&lt;img src="/img/placeholder.png"></pre>
					<p class="selector">html > body > main > ul:nth-child(3) > li:nth-child(15) > article > img</p>
				</li>,<li class="error">
					<h3><span class="type">error</span>: This element has insufficient contrast at this conformance level. Expected a contrast ratio of at least 4.5:1, but text in this element has a contrast ratio of 3.94:1. Recommendation:  change text colour to #565656.</h3>
					<p class="code">WCAG2AA Principle1 Guideline1.4 1.4.3 G18 Fail</p>
					<pre class="context">&lt;li>Lamb&lt;/li></pre>
					<p class="selector">html > body > main > ul:nth-child(3) > li:nth-child(15) > article > ul > li:nth-child(1)</p>
				</li>,<li class="error">
					<h3><span class="type">error</span>: This element has insufficient contrast at this conformance level. Expected a contrast ratio of at least 4.5:1, but text in this element has a contrast ratio of 3.94:1. Recommendation:  change text colour to #565656.</h3>
					<p class="code">WCAG2AA Principle1 Guideline1.4 1.4.3 G18 Fail</p>
					<pre class="context">&lt;li>Main&lt;/li></pre>
					<p class="selector">html > body > main > ul:nth-child(3) > li:nth-child(15) > article > ul > li:nth-child(2)</p>
				</li>,<li class="error">
					<h3><span class="type">error</span>: This element has insufficient contrast at this conformance level. Expected a contrast ratio of at least 4.5:1, but text in this element has a contrast ratio of 3.32:1. Recommendation:  change text colour to #5b5b5b.</h3>
					<p class="code">WCAG2AA Principle1 Guideline1.4 1.4.3 G18 Fail</p>
					<pre class="context">&lt;a href="/" aria-current="page" class="current">
				1
			&lt;/a></pre>
					<p class="selector">html > body > main > ul:nth-child(4) > li:nth-child(1) > a</p>
				</li>
		</ul>
	</article>
        {% endblock %}
    